<p id="notice"><%= notice %></p>
<div class="container">
  <h1 class="">Coupons for Better Letters</h1>

  <table class="table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Use Code</th>
      </tr>
    </thead>

    <tbody>
      <% for c in 1..99 do %>
        <tr>
          <td><%= "gumroadday" + c.to_s %></td>
          <td><% if  %>
          <%= link_to "Code Used", "https://gum.co/betterletters/" + "gumroadday" + c.to_s, class: "btn btn-danger"  %>
        
          

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Coupon', new_coupon_path %>
</div>